// overflow
@mixin overflow() {
  overflow: auto;
}

// text-overflow
@mixin textOverflow() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



// flex
@mixin dFlex($type : 'row') {
  @if $type == 'row' {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }@else {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@mixin dFlexWrap($type : 'row') {
  @if $type == 'row' {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }@else {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}


// responsive
$breakpoint-mobile: 350px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin mobile() {
  // 350 ~ 767 사이
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

//@mixin tablet() {
//  // 768 ~ 1024 사이
//  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
//    @content;
//  }
//}

//@mixin desktop() {
//  // 1024px 이상인 경우
//  @media (min-width: #{$breakpoint-desktop}) {
//    @content;
//  }
//}
